<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Movie</title>
</head>
<body>
<div>
    <label for="mname"><b>Name</b></label>
    <input type="text" placeholder="Enter Movie Name" name="mname" required>
    <label for="duration"><b>Duration</b></label>
    <input type="text" placeholder="Enter Duration" name="duration" required>
</div>
<div>
    <label for="release date"><b>Release Date</b></label>
    <input type="text" placeholder="YYYY/MM/DD" name="release date" required>
</div>

<div>
    <button type="submit">Create</button>
    <button> Back</button>
</div>

</body>
</html>
