<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <form>
        <div>
            <button type="submit">Theater Overview</button>
            <button type="submit">Explore Movie</button>
        </div>
        <div>
            <button type="submit">Schedule Movie</button>
            <button type="submit">Explore Theater</button>
        </div>
        <div>
            <button type="submit">View History</button>
            <button type="submit">Visit History</button>
        </div>
        <div>
            <button type="submit">Back</button>
        </div>
    </form>
</head>
<body>

</body>
</html>
