<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Movie</title>
</head>
<body>
<form>
<div>
<label for="mname"><b>Name</b></label>
<select name="mname" required>
    <!-- fill options from db -->
</select>
<label for="release-date"><b>Release Date</b></label>
<input type="text" placeholder="YYYY/MM/DD" name="release-date" required>
</div>
<div>
    <label for="play-date"><b>Play Date</b></label>
    <input type="text" placeholder="YYYY/MM/DD" name="play-date" required>
</div>
<div>
    <button type="submit">Add</button>
    <button> Back</button>
</div>
</form>
</body>
</html>
