<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit History</title>
</head>
<body>
<div>
    <label for="cname"> <b> Company Name </b></label>
    <select name="cname">
    </select>
    <label for="visit-date1"><b>Visit Date</b></label>
    <input type="text" placeholder="YYYY/MM/DD" name="visit-date1" required>
    <label for="visit-date2"> <b>--</b> </label>
    <input type="text" placeholder="YYYY/MM/DD" name="visit-date2" required>
</div>
<div>
    <button>Filter</button>
</div>
<div>
    <!-- table fill from db here-->
</div>
<div>
    <button>Back</button>
</div>
</body>
</html>
